# Configurações do Dispositivo e Chaves (Segurança)
serviceAccountKey.json

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Sistema
.DS_Store
Thumbs.db

serviceAccountKey.json
calendar_token.txt
vitrae_id.txt
client_secret.txt