# Interface Gráfica
customtkinter

# Backend e APIs
requests
pytz

# Firebase
firebase-admin

# Servidor Web (mantido do original)
Flask
flask-cors
pyOpenSSL

# Integração e Multimédia (mantido do original)
spotipy
Pillow
qrcode[pil]